table {
    width: 600px;
}

table tr td {
    width: 60px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: darkgrey;
}

table tr td.activated {
    background-color: antiquewhite;
}

.transparent_class {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Netscape */
    -moz-opacity: 0.5;

    /* Safari 1.x */
    -khtml-opacity: 0.5;

    /* Good browsers */
    opacity: 0.5;
}